
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{
  font-family:'Raleway','Roboto','Arial','Sans-serif';
}


.arrows {
  margin-top: 0px;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
.glitch-effect {
  position: relative;
  font-size: 2rem;
  /* padding-bottom: 10px; */
  border-bottom: 2px solid gray;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  0% {
    transform: translateX(0);
    border-bottom: 2px solid gray;
  }
  20% {
    transform: translateX(5px);
    border-bottom: 2px solid #0a192f;
  }
  40% {
    transform: translateX(-5px);
    border-bottom: 2px solid gray;
  }
  60% {
    transform: translateX(10px);
    border-bottom: 2px solid #0a192f;
  }
  80% {
    transform: translateX(-10px);
    border-bottom: 2px solid gray;
  }
  100% {
    transform: translateX(0);
    border-bottom: 2px solid #0a192f;
  }
}

body{
  background-color: #242424;
}



.arrow-container {
  width: 25px;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
  margin-left: auto;
  margin-right:auto;
}

.arrow-down {
  height: 6px;
  background: #0097b2;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}
.arrow-down:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: #0097b2;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
50% {
    transform: translateY(-15px);
  }
}
